In [1]:
#For Data Wrangling
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from sqlalchemy import types

#Warning skipping
import warnings
warnings.filterwarnings('ignore')

# For ML Model
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced
from sklearn.model_selection import train_test_split
from imblearn.ensemble import BalancedRandomForestClassifier
from imblearn.ensemble import EasyEnsembleClassifier
import tensorflow as tf
from sklearn.preprocessing import OneHotEncoder

In [2]:
engine = create_engine('postgresql+psycopg2://postgres:root@localhost/cafe')

In [3]:
# cafe_df = pd.read_csv('./resources/cafe_data.csv')

In [4]:
# cafe_df.head()

In [5]:
# cafe_df.columns.to_list()

In [6]:
# cafe_df.to_sql(
#     name='cafe_original_data',
#     con=engine,
#     index=False,
#     dtype={
#         'cust_id': types.INTEGER(),
#         'store_ID': types.INTEGER(),
#         'cust_gender': types.INTEGER(),
#         'cust_age': types.INTEGER(),
#         'cust_income': types.INTEGER(),
#         'cust_q1_taste': types.INTEGER(),
#         'cust_q2_price': types.INTEGER(),
#         'cust_q3_calories': types.INTEGER(),
#         'month': types.INTEGER(),
#         'day': types.INTEGER(),
#         'transaction': types.INTEGER(),
#         'food': types.INTEGER(),
#         'drink': types.INTEGER(),
#         'drink_type': types.String(),
#         'drink_size': types.String(),
#         'drink_milk': types.String(),
#         'drink_calories': types.INTEGER(),
#         'drink_price': types.Float(),
#         'food_type': types.String(),
#         'food_calories': types.INTEGER(),
#         'food_price': types.Float(),
#         'total_spend': types.Float(),
#         'comp_med': types.INTEGER(),
#         'comp_big': types.INTEGER(),
#         'comp_ind': types.INTEGER()

#     })

In [7]:
# customer_df = cafe_df[['cust_id',
#  'cust_gender',
#  'cust_age',
#  'cust_income',
#  'cust_q1_taste',
#  'cust_q2_price',
#  'cust_q3_calories']]
# customer_df.head()

In [8]:
# order_df = cafe_df[['cust_id',
#  'store_ID',
#  'month',
#  'day',
#  'transaction',
#  'food',
#  'drink',
#  'drink_type',
#  'drink_size',
#  'drink_milk',
#  'drink_calories',
#  'drink_price',
#  'food_type',
#  'food_calories',
#  'food_price',
#  'total_spend']]
# order_df.head()

In [9]:
# customer_df.dtypes

In [10]:
# order_df.dtypes

In [11]:
# customer_df.to_sql(
#     name='customer_info',
#     con=engine,
#     index=False,
#     dtype={
#         'cust_id': types.INTEGER(),
#         'cust_gender': types.INTEGER(),
#         'cust_age': types.INTEGER(),
#         'cust_income': types.INTEGER(),
#         'cust_q1_taste': types.INTEGER(),
#         'cust_q2_price': types.INTEGER(),
#         'cust_q3_calories': types.INTEGER()
#         })

In [12]:
# order_df.to_sql(
#     name='order_info',
#     con=engine,
#     index=False,
#     dtype={
#         'cust_id': types.INTEGER(),
#         'store_ID': types.INTEGER(),
#         'month': types.INTEGER(),
#         'day': types.INTEGER(),
#         'transaction': types.INTEGER(),
#         'food': types.INTEGER(),
#         'drink': types.INTEGER(),
#         'drink_type': types.String(),
#         'drink_size': types.String(),
#         'drink_milk': types.String(),
#         'drink_calories': types.INTEGER(),
#         'drink_price': types.Float(),
#         'food_type': types.String(),
#         'food_calories': types.INTEGER(),
#         'food_price': types.Float(),
#         'total_spend': types.Float()
#         })

In [13]:
query = """
        select *
        from cafe_original_data
        """
cafe_original_data_df=pd.read_sql(query, con=engine)

In [14]:
cafe_original_data_df.head()

,cust_id,store_ID,cust_gender,cust_age,cust_income,cust_q1_taste,cust_q2_price,cust_q3_calories,month,day,...,drink_milk,drink_calories,drink_price,food_type,food_calories,food_price,total_spend,comp_med,comp_big,comp_ind
0,3923,501,1,26,NaN,4,4,1,4,5,...,None,5,2.05,Grand Slam Cookie,280,2.00,4.05,1,0,1
1,4389,501,0,34,11190.0,1,4,1,1,26,...,None,4,1.75,Rice Krispie Square,240,1.95,3.70,1,0,1
2,20984,501,0,46,91292.0,5,5,1,9,4,...,None,5,2.05,None,0,NaN,2.05,1,0,1
3,6776,501,1,47,89551.0,3,4,2,6,23,...,None,5,2.05,None,0,NaN,2.05,1,0,1
4,16515,501,1,43,64310.0,4,3,2,11,25,...,None,0,NaN,Biscotti,280,2.20,2.20,1,0,1

In [15]:
query = """
        select *
        from customer_info
        """
customer_info_df = pd.read_sql(query, con=engine)

In [16]:
customer_info_df.head()

,cust_id,cust_gender,cust_age,cust_income,cust_q1_taste,cust_q2_price,cust_q3_calories
0,3923,1,26,NaN,4,4,1
1,4389,0,34,11190.0,1,4,1
2,20984,0,46,91292.0,5,5,1
3,6776,1,47,89551.0,3,4,2
4,16515,1,43,64310.0,4,3,2

In [17]:
query = """
        select *
        from order_info
        """
order_info_df=pd.read_sql(query, con=engine)
order_info_df.head()

,cust_id,store_ID,month,day,transaction,food,drink,drink_type,drink_size,drink_milk,drink_calories,drink_price,food_type,food_calories,food_price,total_spend
0,3923,501,4,5,6705,1,1,Drip Coffee,Medium,None,5,2.05,Grand Slam Cookie,280,2.00,4.05
1,4389,501,1,26,1627,1,1,Drip Coffee,Small,None,4,1.75,Rice Krispie Square,240,1.95,3.70
2,20984,501,9,4,16568,0,1,Drip Coffee,Medium,None,5,2.05,None,0,NaN,2.05
3,6776,501,6,23,11070,0,1,Drip Coffee,Medium,None,5,2.05,None,0,NaN,2.05
4,16515,501,11,25,21285,1,0,None,None,None,0,NaN,Biscotti,280,2.20,2.20

In [18]:
food_order_only_df = order_info_df.dropna(axis=0,subset=['food_type'])
food_order_only_df.head()

,cust_id,store_ID,month,day,transaction,food,drink,drink_type,drink_size,drink_milk,drink_calories,drink_price,food_type,food_calories,food_price,total_spend
0,3923,501,4,5,6705,1,1,Drip Coffee,Medium,None,5,2.05,Grand Slam Cookie,280,2.00,4.05
1,4389,501,1,26,1627,1,1,Drip Coffee,Small,None,4,1.75,Rice Krispie Square,240,1.95,3.70
4,16515,501,11,25,21285,1,0,None,None,None,0,NaN,Biscotti,280,2.20,2.20
8,27892,501,5,1,8154,1,1,Drip Coffee,Medium,None,5,2.05,Chunky Chocolate Cookie,280,2.00,4.05
12,8849,501,5,18,9406,1,1,Drip Coffee,Medium,None,5,2.05,Banana Chocolate Muffin,190,1.90,3.95

In [19]:
food_order_only_df.shape

(13367, 16)

In [20]:
merged_food_df = food_order_only_df.join(cafe_original_data_df, how = 'left', lsuffix = '_F_Only', rsuffix = '_Orig')
merged_food_df.head()

,cust_id_F_Only,store_ID_F_Only,month_F_Only,day_F_Only,transaction_F_Only,food_F_Only,drink_F_Only,drink_type_F_Only,drink_size_F_Only,drink_milk_F_Only,...,drink_milk_Orig,drink_calories_Orig,drink_price_Orig,food_type_Orig,food_calories_Orig,food_price_Orig,total_spend_Orig,comp_med,comp_big,comp_ind
0,3923,501,4,5,6705,1,1,Drip Coffee,Medium,None,...,None,5,2.05,Grand Slam Cookie,280,2.00,4.05,1,0,1
1,4389,501,1,26,1627,1,1,Drip Coffee,Small,None,...,None,4,1.75,Rice Krispie Square,240,1.95,3.70,1,0,1
4,16515,501,11,25,21285,1,0,None,None,None,...,None,0,NaN,Biscotti,280,2.20,2.20,1,0,1
8,27892,501,5,1,8154,1,1,Drip Coffee,Medium,None,...,None,5,2.05,Chunky Chocolate Cookie,280,2.00,4.05,1,0,1
12,8849,501,5,18,9406,1,1,Drip Coffee,Medium,None,...,None,5,2.05,Banana Chocolate Muffin,190,1.90,3.95,1,0,1

In [21]:
# dropping drink columns
merged_food_df.drop(list(merged_food_df.filter(regex = 'drink')), axis = 1, inplace = True)
merged_food_df.dtypes

cust_id_F_Only            int64
store_ID_F_Only           int64
month_F_Only              int64
day_F_Only                int64
transaction_F_Only        int64
food_F_Only               int64
food_type_F_Only         object
food_calories_F_Only      int64
food_price_F_Only       float64
total_spend_F_Only      float64
cust_id_Orig              int64
store_ID_Orig             int64
cust_gender               int64
cust_age                  int64
cust_income             float64
cust_q1_taste             int64
cust_q2_price             int64
cust_q3_calories          int64
month_Orig                int64
day_Orig                  int64
transaction_Orig          int64
food_Orig                 int64
food_type_Orig           object
food_calories_Orig        int64
food_price_Orig         float64
total_spend_Orig        float64
comp_med                  int64
comp_big                  int64
comp_ind                  int64
dtype: object

In [22]:
merged_food_df.columns

Index(['cust_id_F_Only', 'store_ID_F_Only', 'month_F_Only', 'day_F_Only',
       'transaction_F_Only', 'food_F_Only', 'food_type_F_Only',
       'food_calories_F_Only', 'food_price_F_Only', 'total_spend_F_Only',
       'cust_id_Orig', 'store_ID_Orig', 'cust_gender', 'cust_age',
       'cust_income', 'cust_q1_taste', 'cust_q2_price', 'cust_q3_calories',
       'month_Orig', 'day_Orig', 'transaction_Orig', 'food_Orig',
       'food_type_Orig', 'food_calories_Orig', 'food_price_Orig',
       'total_spend_Orig', 'comp_med', 'comp_big', 'comp_ind'],
      dtype='object')

In [23]:
#dropping duplicate columns and unneeded features
co_list = ['month_Orig', 'day_Orig', 'transaction_Orig', 'food_Orig',
       'food_type_Orig', 'food_calories_Orig', 'food_price_Orig',
       'total_spend_Orig','cust_id_Orig', 'food_F_Only','cust_id_F_Only','total_spend_F_Only','transaction_F_Only','store_ID_Orig']

merged_food_df.drop(axis=1,columns=co_list, inplace=True)
merged_food_df.columns

Index(['store_ID_F_Only', 'month_F_Only', 'day_F_Only', 'food_type_F_Only',
       'food_calories_F_Only', 'food_price_F_Only', 'cust_gender', 'cust_age',
       'cust_income', 'cust_q1_taste', 'cust_q2_price', 'cust_q3_calories',
       'comp_med', 'comp_big', 'comp_ind'],
      dtype='object')

# Machine Learning

## Preprocessing

In [24]:
merged_food_df.dtypes

store_ID_F_Only           int64
month_F_Only              int64
day_F_Only                int64
food_type_F_Only         object
food_calories_F_Only      int64
food_price_F_Only       float64
cust_gender               int64
cust_age                  int64
cust_income             float64
cust_q1_taste             int64
cust_q2_price             int64
cust_q3_calories          int64
comp_med                  int64
comp_big                  int64
comp_ind                  int64
dtype: object

In [25]:
merged_food_df["food_type_F_Only"].unique()

array(['Grand Slam Cookie', 'Rice Krispie Square', 'Biscotti',
       'Chunky Chocolate Cookie', 'Banana Chocolate Muffin', 'Cupcake',
       'Blueberry Scone', 'Croissant', 'Breakfast Sandwich',
       'Iced Carrot Cake', 'Naniamo Bar', 'Maple Scone',
       'Bagel and Cream Cheese'], dtype=object)

In [26]:
# Food Types dictionary
food_num = {
    'Grand Slam Cookie':1,
    'Rice Krispie Square':2,
    'Biscotti':3,
    'Chunky Chocolate Cookie':4,
    'Banana Chocolate Muffin':5,
    'Cupcake':6,
    'Blueberry Scone':7,
    'Croissant':8, 
    'Breakfast Sandwich':9,
    'Iced Carrot Cake':10,
    'Naniamo Bar':11,
    'Maple Scone':12,
    'Bagel and Cream Cheese':13
}
# Foods' name encoded using the dictionary values
merged_food_df["food_type"] = merged_food_df["food_type_F_Only"].apply(lambda x: food_num[x])
merged_food_df = merged_food_df.drop(["food_type_F_Only"], axis=1)
merged_food_df.head()

,store_ID_F_Only,month_F_Only,day_F_Only,food_calories_F_Only,food_price_F_Only,cust_gender,cust_age,cust_income,cust_q1_taste,cust_q2_price,cust_q3_calories,comp_med,comp_big,comp_ind,food_type
0,501,4,5,280,2.00,1,26,NaN,4,4,1,1,0,1,1
1,501,1,26,240,1.95,0,34,11190.0,1,4,1,1,0,1,2
4,501,11,25,280,2.20,1,43,64310.0,4,3,2,1,0,1,3
8,501,5,1,280,2.00,0,29,NaN,5,3,1,1,0,1,4
12,501,5,18,190,1.90,1,39,51020.0,1,3,1,1,0,1,5

In [27]:
merged_food_df.columns

Index(['store_ID_F_Only', 'month_F_Only', 'day_F_Only', 'food_calories_F_Only',
       'food_price_F_Only', 'cust_gender', 'cust_age', 'cust_income',
       'cust_q1_taste', 'cust_q2_price', 'cust_q3_calories', 'comp_med',
       'comp_big', 'comp_ind', 'food_type'],
      dtype='object')

In [28]:
# rewriting columns for easy writing
merged_food_df.columns = ['store_ID', 'month', 'day', 'food_calories','food_price', 'cust_gender',
                          'cust_age', 'cust_income', 'cust_q1_taste', 'cust_q2_price', 
                          'cust_q3_calories', 'comp_med','comp_big', 'comp_ind', 'food_type']

In [29]:
#Dropping NA columns

merged_food_df = merged_food_df.dropna()

In [30]:
#Splitting for Feature and targets
X = merged_food_df.drop(columns=['food_type','store_ID', 'month', 'day'],axis=1)
y = merged_food_df['food_type']

In [31]:
#Spliiting for training and testing
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=1, stratify=y)

In [32]:
# Random Forest
rf_model = BalancedRandomForestClassifier(n_estimators = 100, random_state=1)

rf_model = rf_model.fit(X_train, y_train)
rf_model

BalancedRandomForestClassifier(random_state=1)

In [33]:
# Calculated the balanced accuracy score
predictions = rf_model.predict(X_test)
balanced_accuracy_score(y_test, predictions)

0.7716202754349175

In [34]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, predictions))

                   pre       rec       spe        f1       geo       iba       sup

          1       0.50      0.41      0.97      0.45      0.63      0.37       215
          2       1.00      1.00      1.00      1.00      1.00      1.00       166
          3       1.00      1.00      1.00      1.00      1.00      1.00       346
          4       0.41      0.50      0.95      0.45      0.69      0.45       175
          5       1.00      1.00      1.00      1.00      1.00      1.00       209
          6       0.57      0.53      0.96      0.55      0.71      0.49       244
          7       0.81      0.57      0.98      0.67      0.75      0.54       415
          8       1.00      1.00      1.00      1.00      1.00      1.00       192
          9       1.00      1.00      1.00      1.00      1.00      1.00       262
         10       0.46      0.50      0.96      0.48      0.69      0.45       195
         11       1.00      1.00      1.00      1.00      1.00      1.00        84
         12       0.26      0.53      0.94      0.35      0.70      0.47       120
         13       1.00      1.00      1.00      1.00      1.00      1.00       282

avg / total       0.80      0.77      0.98      0.78      0.86      0.75      2905

In [35]:
# List the features sorted in descending order by feature importance
importances = sorted(zip(rf_model.feature_importances_,X.columns), reverse=True)
importances

[(0.3714066634165887, 'food_price'),
 (0.3341972743475104, 'food_calories'),
 (0.09223482117120886, 'cust_income'),
 (0.07062117585664292, 'cust_age'),
 (0.03245880346618699, 'cust_q3_calories'),
 (0.0314215199497458, 'cust_q2_price'),
 (0.030789476710422904, 'cust_q1_taste'),
 (0.013645978753569168, 'cust_gender'),
 (0.008784421953992165, 'comp_med'),
 (0.007227234041170513, 'comp_big'),
 (0.0072126303329616455, 'comp_ind')]

In [36]:
#Easy Ensemble
ee_model = EasyEnsembleClassifier(n_estimators = 100, random_state=1)

ee_model = ee_model.fit(X_train, y_train)
ee_model

EasyEnsembleClassifier(n_estimators=100, random_state=1)

In [37]:
# Calculated the balanced accuracy score
ee_pred = ee_model.predict(X_test)
balanced_accuracy_score(y_test, ee_pred)

0.46153846153846156

In [38]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, ee_pred))

                   pre       rec       spe        f1       geo       iba       sup

          1       0.00      0.00      1.00      0.00      0.00      0.00       215
          2       1.00      1.00      1.00      1.00      1.00      1.00       166
          3       0.00      0.00      1.00      0.00      0.00      0.00       346
          4       0.00      0.00      1.00      0.00      0.00      0.00       175
          5       1.00      1.00      1.00      1.00      1.00      1.00       209
          6       0.00      0.00      1.00      0.00      0.00      0.00       244
          7       0.00      0.00      1.00      0.00      0.00      0.00       415
          8       0.00      0.00      1.00      0.00      0.00      0.00       192
          9       1.00      1.00      1.00      1.00      1.00      1.00       262
         10       0.00      0.00      1.00      0.00      0.00      0.00       195
         11       0.08      1.00      0.65      0.15      0.81      0.68        84
         12       0.13      1.00      0.71      0.23      0.84      0.73       120
         13       1.00      1.00      1.00      1.00      1.00      1.00       282

avg / total       0.32      0.39      0.98      0.33      0.37      0.37      2905

In [39]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs',
                                max_iter=200,
                                random_state=1)

In [40]:
classifier.fit(X_train, y_train)

LogisticRegression(max_iter=200, random_state=1)

In [41]:
y_pred = classifier.predict(X_test)

In [42]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.16110154905335627

In [43]:
# Neural Network
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn = tf.keras.models.Sequential()
asd = tf.keras.layers.Dense

# First hidden layer
nn.add(asd(input_dim=len(X_train.columns), units=len(X_train.columns)*3, activation='tanh'))

# Second hidden layer
nn.add(asd(units=len(X_train.columns)*2, activation='relu'))

# Output layer
nn.add(asd(units=1, activation = 'sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 33)                396
_________________________________________________________________
dense_1 (Dense)              (None, 22)                748
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 23
=================================================================
Total params: 1,167
Trainable params: 1,167
Non-trainable params: 0
_________________________________________________________________

In [44]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam",metrics=["accuracy"])

In [45]:
# Train the model
# y_train = 
nn.fit(X_train, y_train, epochs=150)

Epoch 1/150
273/273 [==============================] - 1s 640us/step - loss: -101.8286 - accuracy: 0.0766
Epoch 2/150
273/273 [==============================] - 0s 618us/step - loss: -809.2856 - accuracy: 0.0738
Epoch 3/150
273/273 [==============================] - 0s 599us/step - loss: -2277.6677 - accuracy: 0.0746
Epoch 4/150
273/273 [==============================] - 0s 599us/step - loss: -4456.5305 - accuracy: 0.0757
Epoch 5/150
273/273 [==============================] - 0s 621us/step - loss: -7310.2089 - accuracy: 0.0759
Epoch 6/150
273/273 [==============================] - 0s 621us/step - loss: -10855.6375 - accuracy: 0.0738
Epoch 7/150
273/273 [==============================] - 0s 596us/step - loss: -14894.3440 - accuracy: 0.0715
Epoch 8/150
273/273 [==============================] - 0s 592us/step - loss: -19577.0998 - accuracy: 0.0750
Epoch 9/150
273/273 [==============================] - 0s 577us/step - loss: -24800.6927 - accuracy: 0.0746
Epoch 10/150
273/273 [==============================] - 0s 592us/step - loss: -30569.0458 - accuracy: 0.0725
Epoch 11/150
273/273 [==============================] - 0s 592us/step - loss: -36092.3822 - accuracy: 0.0734
Epoch 12/150
273/273 [==============================] - 0s 577us/step - loss: -42879.5109 - accuracy: 0.0723
Epoch 13/150
273/273 [==============================] - 0s 643us/step - loss: -50258.2675 - accuracy: 0.0718
Epoch 14/150
273/273 [==============================] - 0s 625us/step - loss: -56848.4181 - accuracy: 0.0735
Epoch 15/150
273/273 [==============================] - 0s 585us/step - loss: -64094.5629 - accuracy: 0.0760
Epoch 16/150
273/273 [==============================] - 0s 585us/step - loss: -72892.1155 - accuracy: 0.0753
Epoch 17/150
273/273 [==============================] - 0s 581us/step - loss: -80794.7504 - accuracy: 0.0748
Epoch 18/150
273/273 [==============================] - 0s 574us/step - loss: -91210.2137 - accuracy: 0.0681
Epoch 19/150
273/273 [==============================] - 0s 581us/step - loss: -99027.4356 - accuracy: 0.0775
Epoch 20/150
273/273 [==============================] - 0s 665us/step - loss: -108689.6844 - accuracy: 0.0748
Epoch 21/150
273/273 [==============================] - 0s 585us/step - loss: -118267.3956 - accuracy: 0.0766
Epoch 22/150
273/273 [==============================] - 0s 581us/step - loss: -128367.1495 - accuracy: 0.0759
Epoch 23/150
273/273 [==============================] - 0s 581us/step - loss: -139821.6215 - accuracy: 0.0740
Epoch 24/150
273/273 [==============================] - 0s 574us/step - loss: -150275.9787 - accuracy: 0.0700
Epoch 25/150
273/273 [==============================] - 0s 599us/step - loss: -160502.1417 - accuracy: 0.0795
Epoch 26/150
273/273 [==============================] - 0s 625us/step - loss: -172434.8264 - accuracy: 0.0754
Epoch 27/150
273/273 [==============================] - 0s 605us/step - loss: -185372.4614 - accuracy: 0.0740
Epoch 28/150
273/273 [==============================] - 0s 640us/step - loss: -199187.0257 - accuracy: 0.0715
Epoch 29/150
273/273 [==============================] - 0s 603us/step - loss: -210134.6584 - accuracy: 0.0766
Epoch 30/150
273/273 [==============================] - 0s 585us/step - loss: -223719.3498 - accuracy: 0.0754
Epoch 31/150
273/273 [==============================] - 0s 596us/step - loss: -237780.5664 - accuracy: 0.0714
Epoch 32/150
273/273 [==============================] - 0s 665us/step - loss: -248479.5508 - accuracy: 0.0783
Epoch 33/150
273/273 [==============================] - 0s 651us/step - loss: -267966.0936 - accuracy: 0.0758
Epoch 34/150
273/273 [==============================] - 0s 699us/step - loss: -276432.2994 - accuracy: 0.0757
Epoch 35/150
273/273 [==============================] - 0s 585us/step - loss: -294806.4074 - accuracy: 0.0717
Epoch 36/150
273/273 [==============================] - 0s 607us/step - loss: -309898.0788 - accuracy: 0.0744
Epoch 37/150
273/273 [==============================] - 0s 647us/step - loss: -323156.4839 - accuracy: 0.0756
Epoch 38/150
273/273 [==============================] - 0s 618us/step - loss: -338178.4334 - accuracy: 0.0739
Epoch 39/150
273/273 [==============================] - 0s 585us/step - loss: -357020.6293 - accuracy: 0.0726
Epoch 40/150
273/273 [==============================] - 0s 592us/step - loss: -372455.8049 - accuracy: 0.0760
Epoch 41/150
273/273 [==============================] - 0s 585us/step - loss: -390694.4375 - accuracy: 0.0744
Epoch 42/150
273/273 [==============================] - 0s 599us/step - loss: -409593.0479 - accuracy: 0.0679
Epoch 43/150
273/273 [==============================] - 0s 596us/step - loss: -422792.9472 - accuracy: 0.0720
Epoch 44/150
273/273 [==============================] - 0s 618us/step - loss: -443781.5695 - accuracy: 0.0722
Epoch 45/150
273/273 [==============================] - 0s 640us/step - loss: -464443.6648 - accuracy: 0.0713
Epoch 46/150
273/273 [==============================] - 0s 651us/step - loss: -481193.3627 - accuracy: 0.0746
Epoch 47/150
273/273 [==============================] - 0s 618us/step - loss: -496245.8791 - accuracy: 0.0712
Epoch 48/150
273/273 [==============================] - 0s 592us/step - loss: -513321.0406 - accuracy: 0.0747
Epoch 49/150
273/273 [==============================] - 0s 588us/step - loss: -535884.9724 - accuracy: 0.0757
Epoch 50/150
273/273 [==============================] - 0s 610us/step - loss: -556955.6641 - accuracy: 0.0728
Epoch 51/150
273/273 [==============================] - 0s 651us/step - loss: -575372.1739 - accuracy: 0.0804
Epoch 52/150
273/273 [==============================] - 0s 625us/step - loss: -592163.5039 - accuracy: 0.0763
Epoch 53/150
273/273 [==============================] - 0s 599us/step - loss: -619596.0536 - accuracy: 0.0754
Epoch 54/150
273/273 [==============================] - 0s 632us/step - loss: -649336.7014 - accuracy: 0.0739
Epoch 55/150
273/273 [==============================] - 0s 632us/step - loss: -671709.0287 - accuracy: 0.0758
Epoch 56/150
273/273 [==============================] - 0s 662us/step - loss: -683846.1207 - accuracy: 0.0741
Epoch 57/150
273/273 [==============================] - 0s 614us/step - loss: -699876.0803 - accuracy: 0.0764
Epoch 58/150
273/273 [==============================] - 0s 581us/step - loss: -723352.7475 - accuracy: 0.0780
Epoch 59/150
273/273 [==============================] - 0s 570us/step - loss: -749100.3118 - accuracy: 0.0732
Epoch 60/150
273/273 [==============================] - 0s 596us/step - loss: -776555.9523 - accuracy: 0.0765
Epoch 61/150
273/273 [==============================] - 0s 581us/step - loss: -798225.3670 - accuracy: 0.0771
Epoch 62/150
273/273 [==============================] - 0s 599us/step - loss: -824597.7972 - accuracy: 0.0739
Epoch 63/150
273/273 [==============================] - 0s 574us/step - loss: -847313.7322 - accuracy: 0.0753
Epoch 64/150
273/273 [==============================] - 0s 596us/step - loss: -866559.4172 - accuracy: 0.0732
Epoch 65/150
273/273 [==============================] - 0s 574us/step - loss: -897804.1090 - accuracy: 0.0762
Epoch 66/150
273/273 [==============================] - 0s 577us/step - loss: -921669.2297 - accuracy: 0.0751
Epoch 67/150
273/273 [==============================] - 0s 581us/step - loss: -938101.5981 - accuracy: 0.0742
Epoch 68/150
273/273 [==============================] - 0s 592us/step - loss: -967647.7778 - accuracy: 0.0730
Epoch 69/150
273/273 [==============================] - 0s 585us/step - loss: -1005479.2628 - accuracy: 0.0708
Epoch 70/150
273/273 [==============================] - 0s 574us/step - loss: -1014160.2005 - accuracy: 0.0740
Epoch 71/150
273/273 [==============================] - 0s 577us/step - loss: -1051232.9760 - accuracy: 0.0766
Epoch 72/150
273/273 [==============================] - 0s 577us/step - loss: -1072842.8177 - accuracy: 0.0762
Epoch 73/150
273/273 [==============================] - 0s 581us/step - loss: -1097452.9348 - accuracy: 0.0783
Epoch 74/150
273/273 [==============================] - 0s 585us/step - loss: -1131406.2505 - accuracy: 0.0762
Epoch 75/150

273/273 [==============================] - 0s 585us/step - loss: -1157937.9348 - accuracy: 0.0768
Epoch 76/150
273/273 [==============================] - 0s 574us/step - loss: -1200115.9343 - accuracy: 0.0751
Epoch 77/150
273/273 [==============================] - 0s 581us/step - loss: -1222879.2710 - accuracy: 0.0689
Epoch 78/150
273/273 [==============================] - 0s 581us/step - loss: -1244315.2272 - accuracy: 0.0767
Epoch 79/150
273/273 [==============================] - 0s 715us/step - loss: -1277307.3654 - accuracy: 0.0718
Epoch 80/150
273/273 [==============================] - 0s 636us/step - loss: -1294401.5452 - accuracy: 0.0733
Epoch 81/150
273/273 [==============================] - 0s 577us/step - loss: -1328982.9849 - accuracy: 0.0732
Epoch 82/150
273/273 [==============================] - 0s 695us/step - loss: -1366040.0100 - accuracy: 0.0704
Epoch 83/150
273/273 [==============================] - 0s 577us/step - loss: -1398501.8139 - accuracy: 0.0712
Epoch 84/150
273/273 [==============================] - 0s 621us/step - loss: -1417368.8700 - accuracy: 0.0726
Epoch 85/150
273/273 [==============================] - 0s 632us/step - loss: -1468377.3732 - accuracy: 0.0759
Epoch 86/150
273/273 [==============================] - 0s 603us/step - loss: -1495263.2199 - accuracy: 0.0744
Epoch 87/150
273/273 [==============================] - 0s 592us/step - loss: -1518906.9348 - accuracy: 0.0744
Epoch 88/150
273/273 [==============================] - 0s 585us/step - loss: -1552925.4033 - accuracy: 0.0714
Epoch 89/150
273/273 [==============================] - 0s 585us/step - loss: -1595403.7527 - accuracy: 0.0713
Epoch 90/150
273/273 [==============================] - 0s 574us/step - loss: -1631942.5178 - accuracy: 0.0725
Epoch 91/150
273/273 [==============================] - 0s 585us/step - loss: -1679882.0059 - accuracy: 0.0723
Epoch 92/150
273/273 [==============================] - 0s 607us/step - loss: -1711303.9941 - accuracy: 0.0697
Epoch 93/150
273/273 [==============================] - 0s 632us/step - loss: -1710055.7240 - accuracy: 0.0798
Epoch 94/150
273/273 [==============================] - 0s 599us/step - loss: -1737675.6182 - accuracy: 0.0751
Epoch 95/150
273/273 [==============================] - 0s 599us/step - loss: -1787070.0516 - accuracy: 0.0712
Epoch 96/150
273/273 [==============================] - 0s 779us/step - loss: -1830909.7039 - accuracy: 0.0752
Epoch 97/150
273/273 [==============================] - 0s 632us/step - loss: -1860482.1702 - accuracy: 0.0762
Epoch 98/150
273/273 [==============================] - 0s 610us/step - loss: -1896956.9288 - accuracy: 0.0767
Epoch 99/150
273/273 [==============================] - 0s 585us/step - loss: -1943651.3102 - accuracy: 0.0723
Epoch 100/150
273/273 [==============================] - 0s 581us/step - loss: -1993951.8061 - accuracy: 0.0706
Epoch 101/150
273/273 [==============================] - 0s 607us/step - loss: -2016899.6218 - accuracy: 0.0760
Epoch 102/150
273/273 [==============================] - 0s 581us/step - loss: -2047336.2737 - accuracy: 0.0697
Epoch 103/150
273/273 [==============================] - 0s 577us/step - loss: -2052860.8800 - accuracy: 0.0738
Epoch 104/150
273/273 [==============================] - 0s 581us/step - loss: -2116481.2865 - accuracy: 0.0770
Epoch 105/150
273/273 [==============================] - 0s 592us/step - loss: -2150078.4922 - accuracy: 0.0729
Epoch 106/150
273/273 [==============================] - 0s 581us/step - loss: -2188636.1077 - accuracy: 0.0695
Epoch 107/150
273/273 [==============================] - 0s 570us/step - loss: -2224925.0858 - accuracy: 0.0746
Epoch 108/150
273/273 [==============================] - 0s 577us/step - loss: -2287927.8303 - accuracy: 0.0708
Epoch 109/150
273/273 [==============================] - 0s 599us/step - loss: -2329626.0693 - accuracy: 0.0720
Epoch 110/150
273/273 [==============================] - 0s 577us/step - loss: -2344058.6770 - accuracy: 0.0725
Epoch 111/150
273/273 [==============================] - 0s 585us/step - loss: -2364384.5000 - accuracy: 0.0782
Epoch 112/150
273/273 [==============================] - 0s 570us/step - loss: -2422161.3394 - accuracy: 0.0748
Epoch 113/150
273/273 [==============================] - 0s 588us/step - loss: -2498770.1880 - accuracy: 0.0726
Epoch 114/150
273/273 [==============================] - 0s 592us/step - loss: -2502800.5465 - accuracy: 0.0696
Epoch 115/150
273/273 [==============================] - 0s 574us/step - loss: -2555465.3668 - accuracy: 0.0737
Epoch 116/150
273/273 [==============================] - 0s 592us/step - loss: -2586517.0465 - accuracy: 0.0735
Epoch 117/150
273/273 [==============================] - 0s 585us/step - loss: -2631573.3339 - accuracy: 0.0751
Epoch 118/150
273/273 [==============================] - 0s 566us/step - loss: -2685604.8339 - accuracy: 0.0747
Epoch 119/150
273/273 [==============================] - 0s 651us/step - loss: -2697339.3038 - accuracy: 0.0763
Epoch 120/150
273/273 [==============================] - 0s 592us/step - loss: -2770587.2117 - accuracy: 0.0735
Epoch 121/150
273/273 [==============================] - 0s 577us/step - loss: -2817398.6916 - accuracy: 0.0750
Epoch 122/150
273/273 [==============================] - 0s 566us/step - loss: -2857646.7354 - accuracy: 0.0730
Epoch 123/150
273/273 [==============================] - 0s 592us/step - loss: -2915323.5639 - accuracy: 0.0807
Epoch 124/150
273/273 [==============================] - 0s 585us/step - loss: -2946110.4945 - accuracy: 0.0725
Epoch 125/150
273/273 [==============================] - 0s 585us/step - loss: -2968442.1478 - accuracy: 0.0749
Epoch 126/150
273/273 [==============================] - 0s 577us/step - loss: -3046462.3285 - accuracy: 0.0708
Epoch 127/150
273/273 [==============================] - 0s 577us/step - loss: -3090010.9954 - accuracy: 0.0721
Epoch 128/150
273/273 [==============================] - 0s 570us/step - loss: -3124436.3403 - accuracy: 0.0752
Epoch 129/150
273/273 [==============================] - 0s 577us/step - loss: -3155967.5201 - accuracy: 0.0731
Epoch 130/150
273/273 [==============================] - 0s 574us/step - loss: -3189755.3139 - accuracy: 0.0816
Epoch 131/150
273/273 [==============================] - 0s 599us/step - loss: -3243840.1734 - accuracy: 0.0765
Epoch 132/150
273/273 [==============================] - 0s 574us/step - loss: -3344648.4179 - accuracy: 0.0709
Epoch 133/150
273/273 [==============================] - 0s 585us/step - loss: -3338333.1807 - accuracy: 0.0748
Epoch 134/150
273/273 [==============================] - 0s 577us/step - loss: -3378886.1077 - accuracy: 0.0779
Epoch 135/150
273/273 [==============================] - 0s 566us/step - loss: -3445447.1250 - accuracy: 0.0761
Epoch 136/150
273/273 [==============================] - 0s 581us/step - loss: -3523067.4553 - accuracy: 0.0715
Epoch 137/150
273/273 [==============================] - 0s 577us/step - loss: -3585688.2336 - accuracy: 0.0729
Epoch 138/150
273/273 [==============================] - 0s 585us/step - loss: -3616225.2993 - accuracy: 0.0724
Epoch 139/150
273/273 [==============================] - 0s 574us/step - loss: -3644545.6350 - accuracy: 0.0723
Epoch 140/150
273/273 [==============================] - 0s 577us/step - loss: -3695515.8796 - accuracy: 0.0733
Epoch 141/150
273/273 [==============================] - 0s 581us/step - loss: -3764530.1916 - accuracy: 0.0723
Epoch 142/150
273/273 [==============================] - 0s 592us/step - loss: -3795453.4407 - accuracy: 0.0719
Epoch 143/150
273/273 [==============================] - 0s 574us/step - loss: -3839862.8467 - accuracy: 0.0758
Epoch 144/150
273/273 [==============================] - 0s 577us/step - loss: -3881012.6898 - accuracy: 0.0762
Epoch 145/150
273/273 [==============================] - 0s 577us/step - loss: -3945540.1086 - accuracy: 0.0740
Epoch 146/150
273/273 [==============================] - 0s 577us/step - loss: -3997340.6651 - accuracy: 0.0746
Epoch 147/150
273/273 [==============================] - 0s 574us/step - loss: -4046799.9443 - accuracy: 0.0718
Epoch 148/150

273/273 [==============================] - 0s 585us/step - loss: -4081554.7500 - accuracy: 0.0770
Epoch 149/150
273/273 [==============================] - 0s 577us/step - loss: -4097211.6569 - accuracy: 0.0738
Epoch 150/150
273/273 [==============================] - 0s 574us/step - loss: -4183823.9599 - accuracy: 0.0731